<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.second.dao.CourseCopyDao">
    <insert id="addCourse" parameterType="com.example.second.entity.Course">
        insert into course_copy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cid != null">
               cid,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="teacher != null">
                teacher,
            </if>
            <if test="introduce != null">
                introduce,
            </if>
            <if test="credit != null">
                credit,
            </if>
            <if test="classroom != null">
                classroom,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cid != null">
                #{cid,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="teacher != null">
                #{teacher,jdbcType=VARCHAR},
            </if>
            <if test="introduce != null">
                #{introduce,jdbcType=VARCHAR},
            </if>
            <if test="credit != null">
                #{credit,jdbcType=VARCHAR},
            </if>
            <if test="classroom != null">
                #{classroom,jdbcType=VARCHAR},
            </if>


            </trim>
    </insert>
</mapper>    